<div class="container" ng-controller="MovementsController">
    <h2>Add movement</h2>
    <form ng-submit="addMovement()">
      <div class="form-group">
        <label for="movementDate">Date</label>
          <input type="date" class="form-control" ng-model="newDate" placeholder="date of movement">
      </div>
      <div class="form-group ">
          <label for="movementType">Type of movement</label>
          <select class="form-control " ng-model="newType" ng-options="item for item in movementType">
          </select>
      </div>
      <div class="form-group">
      <label for="amount">Amount</label>
          <input type="text" class="form-control" ng-model="newAmount" id="amount" placeholder="Amount">
      </div>
      <div class="form-group">
        <label for="movementDescription">Description of movement</label>
        <textarea class="form-control" rows="3"  ng-model="newDescription" id="movementDescription"></textarea>
      </div>
     
      <button type="text" class="btn btn-default">Submit movement</button>
    </form>
</div>