<div class="container">
    <h2>Add movement</h2>
    <form>
      <div class="form-group">
        <label for="movementDate">Date</label>
          <input type="date" class="form-control" id="amount" placeholder="date of movement">
      </div>
     
      <div class="form-group">
          <label for="movementType">Type of movement</label>
          <select class="form-control">
            <option>Debit</option>
            <option>Credit</option>
          </select>
      </div>   
      <div class="form-group">
      <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" placeholder="Amount">
      </div>
      <div class="form-group">
        <label for="movementDescription">Description of movement</label>
        <textarea class="form-control" rows="3" id="movementDescription"></textarea>
      </div>
      
      <button type="submit" class="btn btn-default">Submit movement</button>
    </form>
</div>