<div class="container" ng-controller="SummaryController">
	<div class="panel  ">
	  <div class="panel-heading">
	    <h1>Hello{{name}}!</h1>
		<h3>These are your last 10 transactions on your {{accountsType}}</h3>

	  </div>
	  <div class="panel-body">
	   
			<table class="table " >
			    <thead >
			      <tr>
			        <th>Date</th>
			        <th class="detail">Details</th>
			        <th>Amount</th>
			      </tr>
			    </thead>
	   			<tbody >
				 	<tr ng-repeat="movement in movements">
					    <td> {{movement.date |date}}</td>
					    <td>{{movement.description}}</td>
					    <td>{{movement.amount | currency}}</td>
			    	</tr>
			    	
	         	 </tbody>
	         	 <tfoot>
			      <tr>
			        <td colspan="2">Saldo actual</td>
			        <td colspan="1" >{{newAmount}}</td>
			        
			      </tr>
			    </tfoot>
			</table>
	  </div>
	</div>
</div>